
Temp/*
Library/* 
obj/Debug/*
.vs/SpikeMove/*
.vs/SpikeMove/v15/.suo
.vs/SpikeMove/v15/.suo
.vs/SpikeMove/v15/Server/sqlite3/storage.ide
.vs/SpikeMove/v15/Server/sqlite3/storage.ide-shm
.vs/SpikeMove/v15/Server/sqlite3/storage.ide-wal
